<%- include("partials/header") %>
<%- include("partials/body") %>
        <div class="content">
            <%- include(pageContent) %>
        </div>
    </div>
<%- include("partials/footer") %>
    